.footer {
    background-color: #828888;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

nav p {
    color: #fff;

    margin-left: 10px;
    font-size: 14px;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}